body { 
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: RGBA(215, 231, 247, .2);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}


.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card{
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
  background-color: #fff;
  width: 350px;
  padding: 20px 45px 20px 45px;
  box-shadow: 6px 6px 7px rgba(145, 179, 242, .7);
  border: 2px solid rgba(145, 179, 242, .1);
  border-radius: 20px 20px;
  
}

.log-in {
  
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px;
  
}

.reg-on {
  
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px;
  
}

.input-element {
  

  background: #FFF; 
  border: 1px solid #dddfe2;
  border-radius: 10px;
  color: #1d2129;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  padding: 0 8px;
  margin-bottom: 10px;
}

.input-button {
  
  background: #FFF; 
  border: 1px solid #dddfe2;
  border-radius: 10px;
  color: #1d2129;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  padding: 0 8px;

}

.line{
  
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dddfe2;
  margin: 10px;

}

.h1:hover {
  
  background: RGBA(215, 231, 247, .2);
}
.c1:active {
  
  background: RGBA(215, 231, 247, 1);
  
}

.mrgn0 {
  Margin: 0;
}
